.App {
  text-align: center;
}

.font_family_montserrat_bold{
  font-family: 'Montserrat', Sans-serif;
  font-weight: 800
}

.font_family_montserrat{
  font-family: 'Montserrat', Sans-serif;
  /* font-size: 17px; */
}

.text_orange{
  color: #FF5800
}
